<ion-header>
  <ion-toolbar>
    <ion-title>FitTrack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Welcome to FitTrack</h1>
  <p>Track your weight, calories, and workouts.</p>

  <ion-button expand="block" routerLink="/weight-log">
    Go to Weight Log
  </ion-button>

  <ion-button expand="block" fill="outline" routerLink="/dashboard">
    Go to Dashboard
  </ion-button>

  <ion-button expand="block" fill="outline" routerLink="/workouts">
    Browse Workouts
  </ion-button>
</ion-content>